
/* Page Foundation */
/* testing */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

    main {
    flex: 1 0 auto;
    background-image: url("images/waterfall2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

  /* Header - footer */

    .header {
        position: relative;
        z-index: 1;
        height: 100px;
        box-shadow: 0 4px 2px -2px #000000;
    }

    /* Header text color */
    .header-footer-color {
        background-color: #fffffa;
    }

    /* Header text color */
    #footer-text {
        color: #86ac41;
    }

    /* Moves the footer to the top to stop the content div from eating the page */
    .footer {
        z-index: 1;
    }

    /* Shadow */
    .header ,
    .footer {
        box-shadow: 0px 0px 8px 2px #000000;
    }

    /* Logo in header */
    .logo {
        width: 190px;
    }

    /* Search section */

    /* font styles for the statement on main page */
    .statement {
        font-family: 'Khula', sans-serif;
        font-weight: bold;
    }
    
    /* Color and styling of search content div */
    .search-content {
        background-color: rgba(26, 25, 25, 0.8);
        border-radius: 10px;
        padding: 60px;
    }
    
    /* Spacing for the search btn */
    .search-btn {
        margin-top: 20px;
    }

    /* Color of statement div */
    .card-color {
        background-color: #86ac41;
    }

    /* Hover color of the search button */
    button:hover {
        background-color: #0d1d23; 
    }

    /* Focus color of the search btn */
    button:focus {
        background-color: #86ac41; 
    }

    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }

   /* Color of input */
    .input input[type=text]{
        color: white;
        border-bottom: 1px solid white;
        text-align: left;
    }

    /* Label text color */
    #label {
        color: white;
    }

    /* label focus color */
    .input:focus {
        color: #fff;
    }

    /* Overwrite materialize code for the color of the search bar */
    input:not([type]):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
            box-shadow: 0 1px 0 0 transparent;
            text-align: left;
    }

/* Dynamic Page */

/* Home button  */
#nav-mobile {
    background-color: #86ac41;
    height: 100px;
    padding-top: 17px;
}

/* Main div on dynamic page */
 #dynamic-container {
    background-color: rgba(27, 29, 34, 0.7);
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
 }

 /* div that will show the current weather */
.weatherCard {
    background-size: cover;
}

/* Color of text under the search bar */
.helper-text {
    color: white;
}

/* What would like to do? on dynamic page */
.question {
    color: #86ac41;
    font-weight: bold;
}

/* Space between activity options btns and color */
.trail-btn, .place-btn {
    margin-bottom: 15px;
    background-color: #7da3a1;
}

/* Focus color of trail btns */
.trail-btn:focus, .place-btn:focus {
    background-color: #0d1d23; 
}

/* Dynamic div of park info */
#activity-name, #activity-descr {
    padding-left: 20px;
}

#activity-name {
    color: #86ac41;
}

/* Select Activity Text on dynamic page */
.selectAct {
    color: #86ac41;
    font-weight: bold;
    font-size: 20px;
}

/* Google Map sizing */
#map {
    height: 350px;
}

/* Media Queries */

/* Mobile */
@media only screen and (max-width: 600px){
    /* Moves the logo to the left so it isnt in the dynamic home button */
    nav .brand-logo {
        left: 25%;
    }

    /* Allows activity btns to fix on screen in mobile and not eat the page */
    .activity-btns {
        width: 100%;
    }

    /* Add spacing for the hiking and camping btns */
    .btn-hiking-camping {
        margin-bottom: 20px;
    }
}



